.frontend-section {
  width: 100%;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  .frontend-head {
    color: #fff;
    text-align: center;
  }
  .frontend-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}

@media (min-width: 1280px) {
  .frontend-section {
    padding-top: 7em;
  }
}
