.blogsList-section {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 4em 0;
  width: 100%;
  .blogsList-head {
    text-transform: capitalize;
    font-family: var(--primary-font);
    color: #fff;
    text-align: center;
    font-weight: 600;
  }
  .blogsList-body {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

@media (min-width: 1280px) {
  .blogsList-section {
    .blogsList-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }
}
