.frontend-section {
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  .frontend-head {
    text-transform: uppercase;
    font-family: var(--heading-font);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  .frontend-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}
