// SOCIAL SECTION:
.social-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  gap: 2em;
  .social-head {
    text-transform: capitalize;
    color: #fff;
    text-align: center;
  }

  .social-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    .social-card {
      .social-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
        .social-card-img {
          img {
            max-width: 100%;
            object-fit: cover;
            height: 100%;
          }
        }

        .social-card-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .social-card-title {
            text-transform: capitalize;
            color: #fff;
            font-family: var(--primary-font);
          }
          .social-card-subtitle {
            color: #fff;
            font-family: var(--primary-font);
          }
          .social-card-link {
            display: flex;
            .social-card-btn {
              width: 100%;
              text-transform: capitalize;
              background-color: #6b21a8;
            }
          }
        }
      }
    }
  }
}

// ABOUT SECTION:

.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  .about-head {
    text-transform: capitalize;
    color: #fff;
    text-align: center;
  }
  .about-body {
    .about-me {
      max-width: 500px;
      padding: 1em 1.5em;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-bottom: 32px;
      background-color: transparent;
      align-items: flex-start;
      .about-me-head {
        text-transform: capitalize;
        color: #fff;
        font-family: var(--primary-font);
        font-weight: 600;
      }
      .about-me-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        .about-me-item {
          .about-me-description {
            color: #fff;
            font-family: var(--primary-font);
            font-weight: var(--regular-weight);
            a {
              text-decoration: none;
              color: #6b21a8;
              font-style: italic;
            }
          }
        }
      }

      .about-me-chips {
        width: 100%;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        gap: 16px;
        .about-me-chip {
          .chip {
            font-family: var(--primary-font);
            color: #fff;
          }
        }
      }

      .about-me-btn {
        background-color: #6b21a8;
        color: #fff;
        text-transform: capitalize;
        font-family: var(--primary-font);
        font-weight: var(--regular-weight);
      }
    }
    .about-me::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      // z-index: -1;
      opacity: 0.1;
    }
  }
}

@media (min-width: 1280px) {
  .social-section {
    width: 100%;
    .social-head {
      text-transform: capitalize;
    }

    .social-body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4em;
      .social-card {
        .social-card-container {
          grid-template-columns: 0.7fr 1fr;
          gap: 0.5em;
          .social-card-img {
            img {
              max-width: 100%;
              object-fit: cover;
            }
          }
          .social-card-content {
            .social-card-title {
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}
