// ABOUT SECTION:

.about-section {
  flex-direction: column;
  gap: 2em;

  .about-head {
    text-transform: uppercase;
    font-family: var(--heading-font);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  .about-body {
  }
}

@media (min-width: 1280px) {
  .about-section {
    flex-direction: column;
    gap: 3.5em;
    padding-top: 7em;
  }
}
