.blogsList-card {
  .blogsList-card-container {
    max-width: 300px;
    .blogList-card-img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .blogList-card-body {
      .blogList-card-body-head {
        font-family: var(--primary-font);
        color: #fff;
      }
      .blogList-card-body-description {
        font-family: var(--primary-font);
        color: #fff;
      }
      .blogList-card-body-btn {
        text-transform: capitalize;
        background-color: #581c87;
        color: #fff;
      }
    }
  }
}
