.glossy-card {
  max-width: 500px;
  padding: 1em 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 32px;
  background-color: transparent;
  align-items: flex-start;
}

.glossy-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.1;
}
