.header {
  display: flex;
  padding: 1.5em 0;
  justify-content: center;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-title {
      margin-right: 16px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--dark-logo-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-transform: uppercase;
        color: var(--dark-link-color);
        font-size: 24px;
      }
    }
  }
}

.dark-header {
  background-color: var(--dark-layout-bg);
  transition: 0.5s;
}

.light-header {
  background-color: #fff;
  transition: 0.5s;
}

.mode {
  width: 80px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 24px;
  background-color: #bbb;
  justify-content: flex-start;
  &:hover {
    background: #bbb;
  }
}

.dark-mode {
}

.light-mode {
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.5s;
}

.circle {
  &.dark-circle {
    background-color: #fff;
    transform: translateX(39px);
  }
}

.circle {
  &.light-circle {
    background-color: yellow;
    transform: translateX(0);
    transform: 0.5s;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 1.5em 0;
    .header-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 4em;
      .header-title {
        width: 50px;
        height: 50px;
      }
    }
  }
}
