.header {
  display: flex;
  padding: 1em 0;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-title {
      margin-right: 16px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--dark-logo-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-transform: uppercase;
        color: var(--dark-link-color);
        font-size: 24px;
      }
    }
  }
}

.dark-header {
  background-color: var(--dark-layout-bg);
  transition: 0.5s;
}

.light-header {
  background-color: #fff;
  transition: 0.5s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.scrolled-header {
}

.mode {
  width: 80px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 24px;
  background-color: #581c87;
  justify-content: flex-start;
  &:hover {
    background: #581c87;
  }
}

.dark-mode {
}

.light-mode {
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.5s;
}

.circle {
  &.dark-circle {
    background-color: #fff;
    transform: translateX(39px);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      background: #581c87;
      border-radius: 50%;
      width: 75%;
      height: 75%;
      transition: 0.5s;
    }
  }
}

.circle {
  &.light-circle {
    background-color: yellow;
    transform: translateX(0);
    transition: 0.5s;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 1em 0;
    .header-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 4em;
      .header-title {
        width: 50px;
        height: 50px;
        transition: 1s;
        transform: scale(1);
      }
    }
  }

  .scrolled-header {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
      brightness(140%);
    padding: 0.5em 0;
    .header-container {
      .header-title {
        margin-right: 16px;
        transform: scale(0.8);
        border-radius: 50%;
        background-color: var(--dark-logo-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          text-transform: uppercase;
          color: var(--dark-link-color);
          font-size: 16px;
        }
      }
    }
  }
}
