@forward "../../GlobalStyles/Variables";
@forward "../../GlobalStyles/ResetStyle/";
.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 3em;
  .hero-intro {
    display: flex;
    flex-direction: column;
    .hero-head {
      text-transform: capitalize;
      color: #fff;
      font-family: var(--primary-font);
      font-weight: var(--medium-weight);
      margin-bottom: 16px;
    }

    .hero-description {
      color: #fff;
      font-family: var(--primary-font);
      margin-bottom: 32px;
    }

    .hero-actions {
      display: flex;
      gap: 3em;
      align-items: center;
      .contact-btn {
        background-color: #6b21a8;
        font-family: var(--primary-font);
        text-transform: capitalize;
        font-weight: var(--regular-weight);
      }

      .contact-btn:hover {
        background-color: #581c87;
      }

      .hero-social {
        display: flex;
        gap: 1em;
      }
    }
  }

  .hero-img {
    display: flex;
    img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}

.tools-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  .tools-head {
    color: #fff;
    text-align: center;
    font-family: var(--primary-font);
  }

  .tools-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 90px));
    gap: 1em;
    justify-content: space-between;
    .tools-item {
      img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (min-width: 780px) {
  .hero-section {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 300px;
    gap: 2em;
  }
}

@media (min-width: 1280px) {
  .hero-section {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 300px;
    gap: 2em;
    .hero-intro {
      .hero-actions {
        gap: 3em;
        align-items: center;
        .hero-social {
          gap: 1em;
        }
      }
    }
  }

  .tools-section {
    gap: 4em;
    .tools-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
      column-gap: 2em;
      row-gap: 1em;
      justify-content: space-between;
    }
  }
}
