.footer {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  .footer-container {
    .footer-nav {
      display: flex;
      justify-content: center;
      .footer-nav-list {
        display: flex;
        gap: 16px;
        list-style: none;
        .footer-nav-item {
          .footer-nav-link {
            .nav-link-text {
              font-family: var(--primary-font);
              text-transform: capitalize;
              color: #fff;
              font-weight: var(--regular-weight);
            }
          }
        }
      }
    }
  }
}

.light-footer {
  background: #fff;
  transition: 0.5s;
}

.dark-footer {
  background-color: var(--dark-layout-bg);
  transition: 0.5s;
}
