.project-section {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  gap: 2.5em;
  .project-head {
    text-transform: capitalize;
    font-family: var(--primary-font);
    color: #fff;
    text-align: center;
  }
  .project-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    .project-group {
      .project-group-head {
        font-family: var(--primary-font);
        text-transform: capitalize;
        color: #000;
        text-align: center;
        font-weight: 800;
      }

      .project-group-body {
        font-family: var(--primary-font);
        color: #000;
        text-align: center;
        opacity: 0.9;
        text-align: left;
      }

      .project-group-btn {
        text-transform: capitalize;
        background-color: #8b5cf6;
        font-family: var(--primary-font);
        color: #fff;
      }
    }
  }
}

@media (min-width: 1280px) {
  .project-section {
    padding: 3em 0;
    gap: 2.5em;
    .project-body {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2em;
    }
  }
}
