.project-section {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  gap: 2.5em;
  min-height: 100vh;
  .project-head {
    text-transform: uppercase;
    font-family: var(--heading-font);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  .project-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    .project-group {
      .project-group-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        .project-group-head {
          font-family: var(--primary-font);
          text-transform: capitalize;
          text-align: center;
          font-weight: 800;
          font-size: 16px;
        }

        .project-group-body {
          font-family: var(--primary-font);
          text-align: center;
          opacity: 0.9;
          text-align: left;
          font-size: 14px;
        }
      }

      .project-group-btn {
        text-transform: capitalize;
        background-color: #8b5cf6;
        font-family: var(--primary-font);
        color: #fff;
      }
    }
  }
}

@media (min-width: 1280px) {
  .project-section {
    padding-top: 7em;
    gap: 3.5em;
    .project-body {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2em;
    }
  }
}
